* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

.header {
    color: white;
    background-color: rgb(59, 78, 102);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    font-size: large;
}

h2 {
    font-size: large;
}

.header2 {
    color: rgb(59, 78, 102);
    text-align: center;
    font-size: large;
}

.headerP {
    color: rgb(172, 181, 192);
    text-align: center;
}

hr {
    border-style: groove;
    border-width: 4px;
    width: 100%;
}

.newsp {
    color: rgb(59, 78, 102);
}

::placeholder {
    text-align: end;
    color: rgb(247, 178, 178);
    font-style: italic;
}

/* Selectors */

form {
    max-width: 65%;
    margin: auto;
    background: #f4f7f8;
    background-color: white;
}

input, select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 13px;
    height: auto;
    margin: 10px;
    outline: 0px;
    padding: 20px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

#bio {
    width: 95%;
    
    border-color: brown;
    padding: 65px;
}

textarea {
    border: none;
    font-size: 16px;
    height: auto;
    background-color: #151614;
    color: #3bcef3;
}

label {
    color: rgb(172, 181, 192);
    margin: 10px;
}

/* Radio and focus */

.radio [type] {
    width: 10%;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}



input:focus {
    color: lawngreen;
    background-color: rgb(6, 9, 65);
    border-color: lawngreen;
    border-style:outset
  }
  .flex:focus {
      border-color: lawngreen;
  }

.hrtop {
    margin-right: auto;
}

.hrbottom {
    border-style: solid;
    border-width: 1px;
}

button {
    display: block;
    margin: auto;
    padding: 3%;
    color: #FFF;
    background-color: #66c8cf;
    font-size: 18px;
    text-align: center;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 2%;
}

.foot {
    text-align: center;
    margin-top: auto;
    color: #f10fcc;
    font-style: italic;
}

.headerP1 {
    margin-top: 35px;
    margin-left: 11px;
    color: rgb(107, 114, 121);
}

button {
    max-width: 100%;
    padding: 25px;
    margin-bottom: 40px;
}

#zipcode {
    display: block;
    max-width: 45%;
}

@media screen and (min-width: 768px) {
    form {
        width: 60%;
    }
    .flex {
        display: flex;
    }
    #name {
        margin-left: 40px
    }
    #city {
        margin-left: 90px;
    }
    #state {
        margin-left: 80px;
    }
    label {
        margin-top: 25px;
    }
    .header2 {
        margin-top: 35px;
    }
    h2 {
        margin-top: 35px;
    }
    #zipcode {
        margin-left: 50px;
    }
    #bio {
        max-width: 80%;
    }
    button {
        max-width: 80%;
        padding: 20px;
        margin: 30px;
        margin-left: 0;
    }
    .headerP1 {
        margin-top: 40px;
    }
    textarea {
        display: flex;
        margin-top: 1px;
        margin: 0;
    }
    button:active {
        background-color: rgb(184, 160, 26);
        transition-duration: 1s;
    }
    button:hover {
        cursor: pointer;
    }
}