* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 0;
}

.header {
    color: white;
    background-color: rgb(59, 78, 102);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-left: 0;
    padding: 30px;
    font-size: large;
}

.topcon {
    table-layout: fixed;
    margin-top: 30px;
}

.contacto {
    margin-bottom: 30px;
    font-size: large;
}

.header2 {
    color: rgb(59, 78, 102);
    text-align: center;
    font-size: large;
}

.headerP {
    color: rgb(172, 181, 192);
    text-align: center;
}

.hrtop {
    border-top: solid 5px rgb(175, 173, 173);
    border-bottom: solid 3px;
}

.newsbot {
    margin-bottom: 10px;
    font-size: large;
}

p {
    border-style: none;
    border: none;
}

.newsp {
    color: rgb(59, 78, 102);
}

::placeholder {
    text-align: end;
    color: rgb(247, 178, 178);
    font-style: italic;
}

textarea::placeholder {
    position: static;
    text-align: center;
    position: relative;
    color: rgb(218, 118, 118);
}

/* Selectors */

form {
    margin: auto;
    background: #f4f7f8;
    background-color: white;
}

input, select {
    display: inline-flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 13px;
    height: auto;
    margin: 10px;
    outline: 0px;
    padding: 20px;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

#bio {
    width: 95%;
    border-color: brown;
    padding: 65px;
}

label {
    color: rgb(172, 181, 192);
    margin: 10px;
}

fieldset {
    border: hidden;
}

/* Radio and focus */

.radio [type] {
    width: 10%;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

input:focus {
    color: lawngreen;
    background-color: rgb(6, 9, 65);
    border-color: lawngreen;
    border-style: outset;
    transition: .8s;
}

.flex:focus {
    border-color: lawngreen;
}

.hrbottom {
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
}

.radiolabel {
    font-size: medium;
    color: #6f7779;
    display: table;
    margin-bottom: 20px;
}

#javascripnews {
    margin-bottom: 10px;
}

button {
    display: block;
    margin: auto;
    padding: 3%;
    color: #FFF;
    background-color: #66c8cf;
    font-size: 18px;
    text-align: center;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 2%;
}

.foot {
    background-color: rgb(7, 4, 4);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #daf10f;
    font-style: italic;
}

.headerP1 {
    margin-top: 35px;
    margin-left: 11px;
    color: rgb(107, 114, 121);
}

textarea {
    font-size: 16px;
    height: auto;
    background-color: #151614;
    color: #3bcef3;
    max-width: 90%;
}

button {
    width: 90%;
    padding: 25px;
    margin-bottom: 40px;
}

#zip_code {
    display: block;
    max-width: 45%;
}

@media screen and (min-width: 768px) {
    form {
        width: 70%;
    }
    .flex {
        display: flex;
    }
    #name {
        margin-left: 40px
    }
    #city {
        margin-left: 90px;
    }
    #state {
        margin-left: 80px;
    }
    label {
        margin-top: 25px;
    }
    .header2 {
        margin-top: 35px;
    }
    .h2 {
        margin-top: 35px;
    }
    #zip_code {
        margin-left: 45px;
    }
    button {
        max-width: 80%;
        padding: 20px;
        margin: 30px;
        margin-left: 0;
    }
    .headerP1 {
        margin-top: 40px;
    }
    textarea {
        max-width: 80%;
        display: flex;
        margin-top: 1px;
        margin: 0;
    }
    button:active {
        background-color: rgb(184, 160, 26);
        transition-duration: 1s;
    }
    button:hover {
        cursor: pointer;
    }
}